@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
}

/* Responsive Section */
header,
main {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  header,
  main {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  header,
  main {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  header,
  main {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  header,
  main {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  header,
  main {
    max-width: 1320px;
  }
}

/* Header Section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
  color: #131318;
}
.logo img {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}
.logo span {
  color: #ff5400;
  margin: 0.5rem;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  text-align: center;
  column-gap: 40px;
}
nav li {
  font-weight: 400;
  list-style: none;
}
nav li .active {
  font-weight: 700;
  color: #ff5400;
}
nav li a {
  color: #424247;
  text-decoration: none;
}
.h-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  nav {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
  .logo img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
  }
  .h-menu {
    display: block;
  }
}

/* Banner Section */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  margin-bottom: 100px;
  border-radius: 0.5rem;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-info {
  color: #fff;
  width: 50%;
  text-align: center;
  font-weight: 400;
  margin-bottom: 48px;
}
.banner-search {
  display: flex;
  gap: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}
.banner input,
.banner select,
.banner option {
  background-color: #fff;
  color: #13131880;
  width: 175px;
  padding: 1rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
}
.banner button {
  background-color: #ff5400;
  color: #fff;
  width: 175px;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .banner {
    margin-bottom: 2rem;
  }
  .banner-title {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }
  .banner-info {
    font-size: 14px;
    margin-bottom: 32px;
    width: 80%;
  }
  .banner-search {
    flex-direction: column;
    width: 80%;
  }
  .banner input,
  .banner select,
  .banner option {
    width: 100%;
  }
  .banner button {
    font-weight: 500;
    width: 100%;
  }
}

/* Popular Section */
.popular {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 100px;
}
.popular-text {
  width: 60%;
  color: #131318b2;
  font-size: 1rem;
}
.popular-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.popular-info {
  margin-bottom: 24px;
}
.popular-list {
  margin-bottom: 24px !important;
  margin-left: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.popular ul li {
  margin-bottom: 16px;
}
.popular-desc {
  margin-bottom: 32px;
}
.popular button {
  background: #ff5400;
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}
.popular-image {
  width: 40%;
}
.popular-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .popular {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 2rem;
  }
  .popular-text {
    font-size: 14px;
    width: 100%;
  }
  .popular-title {
    font-size: 22px;
  }
  .popular button {
    font-size: 14px;
    font-weight: 500;
  }
  .popular-image {
    width: 100%;
  }
  .popular-image img {
    width: 100%;
    height: 480px;
  }
}

/* Destination Section */
#destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.destination-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}
.destination-info {
  width: 50%;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  margin-bottom: 48px;
}
.destination-gallery {
  display: grid;
  width: 100%;
  gap: 1.5rem;
  grid-template-areas:
    "g-1 g-1 g-1 g-1 g-2 g-2 g-2 g-2"
    "g-3 g-3 g-4 g-4 g-4 g-4 g-5 g-5"
    "g-6 g-6 g-6 g-7 g-7 g-7 g-7 g-7";
}
#gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 300px;
  border-radius: 1rem;
}
.destination-img-1 {
  grid-area: g-1;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("images/destination-img-1.png"), lightgray 50%;
}
.destination-img-1:hover {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.6) 0%,
      rgba(19, 19, 24, 0.6) 100%
    ),
    url("images/destination-img-1.png"), lightgray 50%;
}
.destination-img-2 {
  grid-area: g-2;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("images/destination-img-2.png"), lightgray 50%;
}
.destination-img-2:hover {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.6) 0%,
      rgba(19, 19, 24, 0.6) 100%
    ),
    url("images/destination-img-2.png"), lightgray 50%;
}
.destination-img-3 {
  grid-area: g-3;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("images/destination-img-3.png"), lightgray 50%;
}
.destination-img-3:hover {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.6) 0%,
      rgba(19, 19, 24, 0.6) 100%
    ),
    url("images/destination-img-3.png"), lightgray 50%;
}
.destination-img-4 {
  grid-area: g-4;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("images/destination-img-4.png"), lightgray 50%;
}
.destination-img-4:hover {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.6) 0%,
      rgba(19, 19, 24, 0.6) 100%
    ),
    url("images/destination-img-4.png"), lightgray 50%;
}
.destination-img-5 {
  grid-area: g-5;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("images/destination-img-5.png"), lightgray 50%;
}
.destination-img-5:hover {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.6) 0%,
      rgba(19, 19, 24, 0.6) 100%
    ),
    url("images/destination-img-5.png"), lightgray 50%;
}
.destination-img-6 {
  grid-area: g-6;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("images/destination-img-6.png"), lightgray 50%;
}
.destination-img-6:hover {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.6) 0%,
      rgba(19, 19, 24, 0.6) 100%
    ),
    url("images/destination-img-6.png"), lightgray 50%;
}
.destination-img-7 {
  grid-area: g-7;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("images/destination-img-7.png"), lightgray 50%;
}
.destination-img-7:hover {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.6) 0%,
      rgba(19, 19, 24, 0.6) 100%
    ),
    url("images/destination-img-7.png"), lightgray 50%;
}
.destination-img-1,
.destination-img-1:hover,
.destination-img-2,
.destination-img-2:hover,
.destination-img-3,
.destination-img-3:hover,
.destination-img-4,
.destination-img-4:hover,
.destination-img-5,
.destination-img-5:hover,
.destination-img-6,
.destination-img-6:hover,
.destination-img-7,
.destination-img-7:hover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#gallery span {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  #destination {
    margin-bottom: 2rem;
  }
  .destination-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .destination-info {
    width: 80%;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .destination-gallery {
    gap: 1rem;
    grid-template-areas:
      "g-1"
      "g-2"
      "g-3"
      "g-4"
      "g-5"
      "g-6"
      "g-7";
  }
  #gallery span {
    font-size: 20px;
    font-weight: 700;
  }
}

/* Why Section */
#why {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.why-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.why-desc {
  width: 50%;
  text-align: center;
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 48px;
}
.why-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.why-card-list-inside {
  display: flex;
  gap: 24px;
}
.why-card {
  width: 50%;
  padding: 24px;
  padding-right: 50px;
  border-radius: 16px;
}
#why .card-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#why .card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#why .card-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.why-card img {
  width: 64px;
  height: 64px;
}
.why-card h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 1rem 0;
}
.why-card p {
  color: #5a5a5d;
}

@media screen and (max-width: 768px) {
  #why {
    margin-bottom: 2rem;
  }
  .why-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .why-desc {
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .why-card-list {
    gap: 1rem;
  }
  .why-card-list-inside {
    flex-direction: column;
    gap: 1rem;
  }
  .why-card {
    width: 100%;
  }
  .why-card img {
    width: 48px;
    height: 48px;
  }
  .why-card h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .why-card p {
    font-size: 14px;
  }
}

/* Discount Section */
#discount {
  text-align: center;
  margin-bottom: 100px;
}
.discount-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.discount-desc {
  width: 50%;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 48px;
}
.discount-item {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 50px 48px;
  margin-bottom: 2rem;
}
.card-a {
  justify-content: flex-end;
  background-image: url("images/card-a.png");
}
.card-b {
  justify-content: flex-start;
  background-image: url("images/card-b.png");
}
.discount-card {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: max-content;
  border-radius: 16px;
  padding: 50px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.discount-info {
  color: #5a5a5d;
  margin-bottom: 26px;
}
.discount-info-item {
  padding-right: 24px;
}
.discount-info i {
  color: #ff5400;
  margin-right: 0.25rem;
}
.discount-info-more {
}

.discount-card-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.discount-card-desc {
  text-align: left;
  color: #5a5a5d;
  margin-bottom: 1rem;
}
.discount-card-price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
#discount button {
  background: #ff5400;
  color: #fff;
  width: max-content;
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn-package {
  display: block;
}
@media screen and (max-width: 768px) {
  #discount {
    text-align: center;
    margin-bottom: 2rem;
  }
  .discount-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .discount-desc {
    width: 80%;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
  .discount-item {
    align-items: flex-end;
    padding: 1rem;
  }
  .discount-card {
    width: 100%;
    padding: 1.5rem;
  }
  .discount-info {
    font-size: 1rem;
  }
  .discount-card-title {
    font-size: 20px;
  }
  .discount-card-desc {
    font-size: 14px;
  }
  .discount-card-price {
    font-size: 18px;
    font-weight: 700;
  }
  #discount button {
    padding: 0.75rem 2rem;
    font-size: 16px;
    font-weight: 500;
  }
  .btn-package {
    display: none;
  }
}

/* Get Lost Section */
#lost {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  margin-bottom: 100px;
}
.lost-left {
  width: 50%;
}
.lost-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.lost-desc {
  color: #5a5a5d;
  margin-bottom: 24px;
}
.lost-left ul {
  margin-left: 1rem;
  margin-bottom: 32px;
}
.lost-left ul li {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.lost-left button {
  background: #ff5400;
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
}
.lost-right {
  width: 50%;
}
.lost-right iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  #lost {
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  .lost-left {
    width: 100%;
  }
  .lost-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .lost-desc {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .lost-left ul {
    margin-bottom: 1.5rem;
  }
  .lost-left ul li {
    font-size: 14px;
    font-weight: 700;
  }
  .lost-left button {
    font-size: 16px;
    font-weight: 500;
  }
  .lost-right {
    width: 100%;
  }
  .lost-right iframe {
    width: 100%;
    height: 240px;
  }
}

/* Review Section */
#reviews {
  text-align: center;
  margin-bottom: 100px;
}
.review-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.review-info {
  width: 50%;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 48px;
}
.review-card-list {
  display: flex;
  flex-grow: 1;
  gap: 1.5rem;
}
.review-card {
  padding: 1.5rem 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.review-card img {
  width: 100px;
  height: 100px;
  padding: 0.25rem;
  border: 5px solid #ff5400;
  border-radius: 50%;
}
.user-name {
  color: #131318;
  margin: 0.5rem auto;
}
.user-location {
  color: #bebebe;
  margin-bottom: 0.5rem;
}
.star {
  color: #ffc200;
  margin-bottom: 0.75rem;
}
.user-review {
  color: rgba(19, 19, 24, 0.7);
}

@media screen and (max-width: 768px) {
  #reviews {
    margin-bottom: 2rem;
  }
  .review-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .review-info {
    width: 80%;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
  .review-card-list {
    flex-direction: column;
    grid-auto-flow: 1rem;
  }
  .review-card img {
    width: 70px;
    height: 70px;
    padding: 0.25rem;
    border: 3px solid #ff5400;
    border-radius: 50%;
  }
  .user-name {
    font-size: 18px;
  }
  .user-location {
    font-size: 14px;
  }
  .user-review {
    font-size: 14px;
  }
}

/* Newsletter Section */
#newsletter {
  display: flex;
  gap: 24px;
  width: 100%;
  height: max-content;
  margin-bottom: 100px;
}
.newsletter-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.newsletter-info {
  color: #5a5a5d;
}
#newsletter hr {
  height: 1px;
  border: 0;
  background-color: rgba(19, 19, 24, 0.1);
  margin: 1rem 0;
}
#newsletter input {
  background-color: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  margin-bottom: 1rem;
  padding: 1rem 20px;
  border: 0;
  outline: none;
  border-radius: 8px;
}
#newsletter button {
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 8px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.newsletter-right {
  position: relative;
  width: 60%;
}
.newsletter-right-bg {
  background-image: url("images/newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: 100%;
}
.newsletter-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 324px;
  height: 120px;
  transform: rotate(-24deg);
  border-radius: 16px;
  background: #ff5400;
  bottom: 60px;
  right: 10px;
}
.newsletter-right h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.newsletter-right h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  #newsletter {
    flex-direction: column;
    gap: 1;
    margin-bottom: 2rem;
  }
  .newsletter-left {
    width: 100%;
  }
  #newsletter button {
    font-size: 16px;
    font-weight: 500;
  }
  .newsletter-right {
    width: 100%;
  }
  .newsletter-right-bg {
    max-height: 420px;
    min-height: 380px;
    width: 100%;
  }
  .newsletter-tag {
    transform: rotate(-18deg);
    width: 200px;
    height: 80px;
    bottom: 32px;
  }
  .newsletter-right h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .newsletter-right h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
}

/* Footer Section */
footer {
  background-color: rgba(19, 19, 24, 0.05);
}
.footer {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 110px 0 50px 0;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131318;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.footer-logo img {
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;
}
.footer-logo span {
  color: #ff5400;
  margin-left: 0.5rem;
}
.footer-info {
  color: #5a5a5d;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.social-icon {
  font-size: 2rem;
  margin-bottom: 40px;
}
.social-icon a {
  color: #131318;
  text-decoration: none;
  padding: 0 0.5rem;
}
.footer hr {
  height: 1px;
  border: 0;
  background-color: rgba(19, 19, 24, 0.1);
  margin: 1rem 0;
}
.footer-copyright {
  color: #131318;
  font-weight: 300;
  margin-top: 40px;
}
.footer-copyright strong {
  color: #ff5400;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 90%;
    padding: 2.5rem 0 2rem 0;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-logo img {
    width: 36px;
    height: 36px;
  }
  .footer-info {
    color: #5a5a5d;
    font-size: 14px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .social-icon {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .footer hr {
    height: 1px;
    border: 0;
    background-color: rgba(19, 19, 24, 0.1);
    margin: 1rem 0;
  }
  .footer-copyright {
    font-size: 14px;
    margin-top: 2rem;
  }
}
