@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
}

/* Responsive Section */
header,
main {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  header,
  main {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  header,
  main {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  header,
  main {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  header,
  main {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  header,
  main {
    max-width: 1320px;
  }
}

/* Header Section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
  color: #131318;
}
.logo img {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}
.logo span {
  color: #c860f9;
  margin: 0.5rem;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  text-align: center;
  column-gap: 40px;
}
nav li {
  font-weight: 400;
  list-style: none;
}
nav li .active {
  font-weight: 700;
  color: #c860f9;
}
nav li a {
  color: #424247;
  text-decoration: none;
}
.h-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  nav {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
  .logo img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
  }
  .h-menu {
    display: block;
  }
}

/* Banner Section */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  margin-bottom: 6rem;
  border-radius: 0.5rem;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-info {
  color: #fff;
  width: 50%;
  text-align: center;
  font-weight: 400;
  margin-bottom: 48px;
}
.banner-search {
  display: flex;
  gap: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}
.banner input,
.banner select,
.banner option {
  background-color: #fff;
  color: #13131880;
  width: 175px;
  padding: 1rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
}
.banner button {
  background-color: #c860f9;
  color: #fff;
  width: 175px;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .banner {
    margin-bottom: 2rem;
  }
  .banner-title {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }
  .banner-info {
    font-size: 14px;
    margin-bottom: 32px;
    width: 80%;
  }
  .banner-search {
    flex-direction: column;
    width: 80%;
  }
  .banner input,
  .banner select,
  .banner option {
    width: 100%;
  }
  .banner button {
    font-weight: 500;
    width: 100%;
  }
}

/* Popular Section */
.popular {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 6rem;
}
.popular-text {
  width: 60%;
  color: #131318b2;
  font-size: 1rem;
}
.popular-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.popular-info {
  margin-bottom: 24px;
}
.popular-list {
  margin-bottom: 24px !important;
  margin-left: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.popular ul li {
  margin-bottom: 16px;
}
.popular-desc {
  margin-bottom: 32px;
}
.popular button {
  background-color: #c860f9;
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}
.popular-image {
  width: 40%;
}
.popular-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .popular {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 2rem;
  }
  .popular-text {
    font-size: 14px;
    width: 100%;
  }
  .popular-title {
    font-size: 22px;
  }
  .popular button {
    font-size: 14px;
    font-weight: 500;
  }
  .popular-image {
    width: 100%;
  }
  .popular-image img {
    width: 100%;
    height: 480px;
  }
}

/* Destination Section */
#destination {
  margin-bottom: 6rem;
}
.container {
  width: 100%;
}
.heading {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.heading h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}
.heading p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  margin-bottom: 2rem;
}
.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.item {
  position: relative;
  height: 300px;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
}
.item-1 {
  grid-column: auto/span 6;
}
.item-2 {
  grid-column: auto/span 6;
}
.item-3 {
  grid-column: auto/span 4;
}
.item-4 {
  grid-column: auto/span 5;
}
.item-5 {
  grid-column: auto/span 3;
}
.item-6 {
  grid-column: auto/span 5;
}
.item-7 {
  grid-column: auto/span 7;
}
.item img {
  height: 100%;
  width: 100%;
}
.item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.text-above {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13131320;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #destination {
    margin-bottom: 2rem;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .heading {
    width: 90%;
  }
  .heading h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .heading p {
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-5,
  .item-6,
  .item-7 {
    grid-column: auto/span 12;
  }
}

/* Why Section */
#why {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
}
.why-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.why-card-list-inside {
  display: flex;
  gap: 24px;
}
.why-card {
  width: 50%;
  padding: 24px;
  padding-right: 50px;
  border-radius: 16px;
}
#why .card-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
}
#why .card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background-color: rgba(41, 206, 246, 0.05);
}
#why .card-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background-color: rgba(233, 68, 68, 0.05);
}
.why-card img {
  width: 64px;
  height: 64px;
}
.why-card h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 1rem 0;
}
.why-card p {
  color: #5a5a5d;
}

@media screen and (max-width: 768px) {
  #why {
    margin-bottom: 2rem;
  }
  .why-card-list {
    gap: 1rem;
  }
  .why-card-list-inside {
    flex-direction: column;
    gap: 1rem;
  }
  .why-card {
    width: 100%;
  }
  .why-card img {
    width: 48px;
    height: 48px;
  }
  .why-card h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .why-card p {
    font-size: 14px;
  }
}

/* Discount Section */
#discount {
  text-align: center;
  margin-bottom: 6rem;
}
#discount .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.discount-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 50px 48px;
}
.discount-item {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: max-content;
  border-radius: 16px;
  padding: 50px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.card-a-n {
  justify-content: flex-end;
  background-image: url("images/card-a.jpg");
}
.card-a {
  justify-content: flex-end;
  background-image: url("images/card-a.jpg");
}
.card-b {
  justify-content: flex-start;
  background-image: url("images/card-b.jpg");
}
.card-c {
  justify-content: flex-end;
  background-image: url("images/card-c.jpg");
}

.discount-info {
  color: #5a5a5d;
  margin-bottom: 26px;
}
.discount-info-item {
  padding-right: 24px;
}
.discount-info i {
  color: #c860f9;
  margin-right: 0.25rem;
}
.discount-card-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.discount-card-desc {
  text-align: left;
  color: #5a5a5d;
  margin-bottom: 1rem;
}
.discount-card-price {
  color: #c860f9;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
#discount button {
  background-color: #c860f9;
  color: #fff;
  width: max-content;
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn-package {
  display: block;
}
@media screen and (max-width: 768px) {
  #discount {
    margin-bottom: 2rem;
  }
  .discount-card {
    align-items: flex-end;
    padding: 1rem;
  }
  .discount-item {
    width: 100%;
    padding: 1.5rem;
  }
  .discount-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .discount-card-title {
    font-size: 20px;
  }
  .discount-card-desc {
    font-size: 14px;
  }
  .discount-card-price {
    font-size: 18px;
    font-weight: 700;
  }
  #discount button {
    padding: 0.75rem 2rem;
    font-size: 16px;
    font-weight: 500;
  }
  .btn-package {
    display: none;
  }
}

/* Get Lost Section */
#lost {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  margin-bottom: 6rem;
}
.lost-left {
  width: 50%;
}
.lost-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.lost-desc {
  color: #5a5a5d;
  margin-bottom: 24px;
}
.lost-left ul {
  margin-left: 1rem;
  margin-bottom: 32px;
}
.lost-left ul li {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.lost-left button {
  background-color: #c860f9;
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  border-radius: 0.5rem;
}
.lost-right {
  width: 50%;
}
.lost-right iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  #lost {
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  .lost-left {
    width: 100%;
  }
  .lost-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .lost-desc {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .lost-left ul {
    margin-bottom: 1.5rem;
  }
  .lost-left ul li {
    font-size: 14px;
    font-weight: 700;
  }
  .lost-left button {
    font-size: 16px;
    font-weight: 500;
  }
  .lost-right {
    width: 100%;
  }
  .lost-right iframe {
    width: 100%;
    height: 240px;
  }
}

/* Review Section */
#reviews {
  text-align: center;
  margin-bottom: 6rem;
}
.review-card-list {
  display: flex;
  flex-grow: 1;
  gap: 1.5rem;
}
.review-card {
  padding: 1.5rem 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.review-card img {
  width: 6rem;
  height: 6rem;
  padding: 0.25rem;
  border: 5px solid #c860f9;
  border-radius: 50%;
}
.user-name {
  color: #131318;
  margin: 0.5rem auto;
}
.user-location {
  color: #bebebe;
  margin-bottom: 0.5rem;
}
.star {
  color: #ffc200;
  margin-bottom: 0.75rem;
}
.user-review {
  color: rgba(19, 19, 24, 0.7);
}

@media screen and (max-width: 768px) {
  #reviews {
    margin-bottom: 2rem;
  }
  .review-card-list {
    flex-direction: column;
    gap: 1rem;
  }
  .review-card img {
    width: 70px;
    height: 70px;
    padding: 0.25rem;
    border: 3px solid #c860f9;
    border-radius: 50%;
  }
  .user-name {
    font-size: 18px;
  }
  .user-location,
  .user-review {
    font-size: 14px;
  }
}

/* Newsletter Section */
#newsletter {
  display: flex;
  gap: 24px;
  width: 100%;
  height: max-content;
  margin-bottom: 6rem;
}
.newsletter-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #c860f9;
}
.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.newsletter-info {
  color: #5a5a5d;
}
#newsletter hr {
  height: 1px;
  border: 0;
  background-color: rgba(19, 19, 24, 0.1);
  margin: 1rem 0;
}
#newsletter input {
  background-color: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  margin-bottom: 1rem;
  padding: 1rem 20px;
  border: 0;
  outline: none;
  border-radius: 8px;
}
#newsletter button {
  background-color: #c860f9;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 8px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.newsletter-right {
  position: relative;
  width: 60%;
}
.newsletter-right-bg {
  background-image: url("images/newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: 100%;
}
.newsletter-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 324px;
  height: 120px;
  transform: rotate(-24deg);
  border-radius: 16px;
  background-color: #c860f9;
  bottom: 60px;
  right: 10px;
}
.newsletter-right h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.newsletter-right h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  #newsletter {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .newsletter-left {
    width: 100%;
  }
  #newsletter button {
    font-size: 16px;
    font-weight: 500;
  }
  .newsletter-right {
    width: 100%;
  }
  .newsletter-right-bg {
    max-height: 420px;
    min-height: 380px;
    width: 100%;
  }
  .newsletter-tag {
    transform: rotate(-18deg);
    width: 200px;
    height: 80px;
    bottom: 32px;
  }
  .newsletter-right h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .newsletter-right h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
}

/* Footer Section */
footer {
  background-color: rgba(19, 19, 24, 0.05);
}
.footer {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 110px 0 50px 0;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131318;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.footer-logo img {
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;
}
.footer-logo span {
  color: #c860f9;
  margin-left: 0.5rem;
}
.footer-info {
  color: #5a5a5d;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.social-icon {
  font-size: 2rem;
  margin-bottom: 40px;
}
.social-icon a {
  color: #131318;
  text-decoration: none;
  padding: 0 0.5rem;
}
.footer hr {
  height: 1px;
  border: 0;
  background-color: rgba(19, 19, 24, 0.1);
  margin: 1rem 0;
}
.footer-copyright {
  color: #131318;
  font-weight: 300;
  margin-top: 40px;
}
.footer-copyright strong {
  color: #c860f9;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 90%;
    padding: 2.5rem 0 2rem 0;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-logo img {
    width: 36px;
    height: 36px;
  }
  .footer-info {
    color: #5a5a5d;
    font-size: 14px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .social-icon {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .footer hr {
    height: 1px;
    border: 0;
    background-color: rgba(19, 19, 24, 0.1);
    margin: 1rem 0;
  }
  .footer-copyright {
    font-size: 14px;
    margin-top: 2rem;
  }
}
